@font-face {
    font-family: 'bangna';
    src: url(../fonts/WDB_Bangna.ttf);

}
@font-face {
    font-family: 'tcm';
    src: url(../fonts/TCM.TTF);
}
@font-face {
    font-family: 'srb';
    src: url(../fonts/THSarabun.ttf) format('truetype');
}
@font-face {
    font-family: 'srbB';
    src: url(../fonts/THSarabun Bold.ttf) format('truetype');
}
#bg{
    position: absolute;
    background: #ccd0d9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #ccd0d9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #ccd0d9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #ccd0d9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #ccd0d9); /* Standard syntax */
    background-size: cover;
    filter: blur(5px);
}
html{
    min-height: 100%;
    height: max-content;
}
body {
    min-height: 100%;
    padding-top: 60px;
    margin-top: 0px;
    font-family: 'srb' !important;
    height: 100%;
    background: #ccd0d9  !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #ccd0d9) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #ccd0d9) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #ccd0d9) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #ccd0d9) !important; /* Standard syntax */
    background-repeat: no-repeat;
}
.h1, h1{
    font-family: 'srb' !important;
    font-size: 70px !important;
}
.h2,h2{
    font-family: 'srb' !important;
    font-size: 50px !important;
}
a,p,label,.form-control,input,button,select{
    font-family: 'srb';
    font-size: 25px !important;
}
textarea{
    resize: vertical;
}
#header_name{
    text-align: center;
    font-size: 60px;
    margin: 60px;
    height: 120px;
}
#login{
    padding-top: 50px;
}

#block{
    text-align: center;
    /*border:3px dashed plum;*/
    background-color: #E6E6FA;
    width: 90%;
    margin:0px auto;

}
#block :hover{
    background-color: #d5d5ff;

}

p{
    margin: 0px;
}
#icon{
    float: right;position: relative;width: 0;height: 90px;
}




.navbar-user {
    float: right;
    height: 50px;
    padding: 15px 15px; 
    font-size: 18px;
    line-height: 20px;
}
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.2)   
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 25px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.message{
    color: red;
    text-align:center;
}
.welcome{
    color: green;
    text-align: center;
}

.regis{
    font-size: 16px;
    padding: 20px;

}

.header {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    height: 100%;
}

.top5_bar{
    display: block !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    background: none !important;
    color: #333 !important;
    text-decoration: none !important;
    list-style: none !important;
    margin-bottom: 0.5em !important;
}
.top5_bar_li{
    display: block !important;
    border: 0 !important;
    color: #333 !important;
    text-decoration: none !important;
    position: relative !important;
    overflow: visible !important;
    margin: 0 0 0px 0 !important;
    padding: 15px 0 15px 5px !important;
}
.top5_bar_hold{
    display: block !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    color: #333 !important;
    text-decoration: none !important;
    position: absolute !important;
    width: 40px !important;
    top: -18px !important;
    right: -23px !important;
}
.top5_bar_tri{
    display: block !important;
    border: 0 !important;
    padding: 0 !important;
    background: none !important;
    color: #333 !important;
    text-decoration: none !important;
    width: 0 !important;
    height: 0 !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid #333 !important;
    border-left: 0 solid transparent !important;
    margin: 0 auto !important;
    top: 0 !important;
}
.top5_score{
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    width: 70px !important;
    color: #fff !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 0.5em 0.2em !important;
    background: #333 !important;
    white-space: nowrap !important;
    font-size: 25px;
}

.grid{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;

}
.box{
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    background-color: bisque;
    margin: 10px;
    padding: 10px;
}
.box:hover{
    background-color: mediumturquoise;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 15px 15px 5px 15px;
    margin-top: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
}
.popup-position{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    /*    background-color: rgba(0,0,0,0.7);*/
    width: 100%;
    height: 100%;
}
#popup-wrapper{

    margin: 40% 10% 10% 10%;
    text-align: left;
}
#popup-container{
    background: #fff;
    padding: 20px;
    border-radius: 4px;

}
#cover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#myUL {
    font-family: 'Maitree', serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    /*  border: 1px solid #ddd;*/
    margin-left :10%;
    margin-right : 10%; /* Prevent double borders */
    margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    height: 80%;
}

#myUL li a:hover:not(.header) {
    background-color: #fb6e52;
    box-shadow: 0px 0 20px 5px #aab2bd;
    color: white;
}

.bg {
    /* The image used */
    background-image: url("../img/home.png");
    margin-top: -10px;
    /* Full height */
    height: 960px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.badge1 {
    position:relative;
}
.badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-15px;
    font-size:.7em;
    background:#337ab7;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}


blink, .blink {
    -webkit-animation: blink 1s step-end infinite;

    -o-animation: blink 1s step-end infinite;

}

@-webkit-keyframes blink {
    67% { opacity: 0 }
}

@-moz-keyframes blink {
    67% { opacity: 0 }
}

@-o-keyframes blink {
    67% { opacity: 0 }
}

@keyframes blink {
    67% { opacity: 0 }
}

#myUL1 {
    font-family: 'Maitree', serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}
#myUL1 li a {
    /*  border: 1px solid #ddd;*/
    margin-left :10%;
    margin-right : 10%; /* Prevent double borders */
    margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    height: 80%;
    border-radius: 5px;
}
#myUL1 li a:hover:not(.header) {
    background-color: #fb6e52;
    box-shadow: 0px 0 20px 5px #aab2bd;
    color: white;
}
@media screen and (min-width: 1000px) {
    #myUL1 {
        font-family: 'Maitree', serif; 
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid !important; 
        grid-template-columns: 50% 50% !important;
        text-align: center;
    }
    #myUL {
        font-family: 'Maitree', serif; 
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid !important; 
        grid-template-columns: 50% 50% !important;
        text-align: center;
    }
}


#recent {

    list-style-type: none;
    padding: 0;
    margin: 0;

}
#recent li{
    padding: 0 0 10px 0;
}
#recent li a {
    /*  border: 1px solid #ddd;*/

    margin-right : 10%; /* Prevent double borders */

    background-color: rgba(255,255,255,0.5);
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    line-height: 20px;
}
#recent li a p{
    line-height: 30px;
    padding-left: 5px;
    margin: 0;
}
#recent li a:hover:not(.header) {
    background-color: #eee;
}
.progress{
    height: 50px !important;
    background-color: #ccd0d9 !important;
}
.topReview a{
    font-size: 30px;
}
/*slide*/
.owl-stage-outer{
    height: 365px;
}
.owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.owl-item{
    height: 320px;
    padding:0 10px 0 10px;
}
.initem{
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
}

.item:hover{
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgb(136, 136, 136);
}
.progress-bar-success1 {
    background-color: #35bc9b !important;
}
.progress-bar-success2 {
    background-color: #48cfae !important;
}
.progress-bar-success3 {
    background-color: #ffce55 !important;
}
.progress-bar-success4 {
    background-color: #fb6e52 !important;
}
.progress-bar-success5 {
    background-color: #ff3941 !important;
}
#godown{
    bottom: 60px;
    position: absolute;
    right: calc(50% - 12.5px);
}
.modal-header {
    padding: 15px 15px 0px 15px !important;
    border-bottom: transparent !important;
}
.modal-footer {
    padding: 0 15px 15px 15px !important;
    text-align: right !important;
    border-top: transparent !important;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']{
    font-size: 20px !important;
    background: #ccd0d9 !important;
}
.jumbotron{
    background-color: #fb6e52 !important;
    color: white !important;
}
@media (min-width: 1080px){
    .navbar-nav>li>a {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }
}